*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
#nav-container {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 20px;
    padding-left: 245px;
    padding-right: 245px;
}
/* Styling for the Nav Bar */
#nav-menu {
    display: flex;
    justify-content: space-between;
}
#logo {
    font-size: 24px;
    color: #F9FAF8;
}
#nav-menu > ul {
    list-style: none;
    display: flex;
}
#nav-menu > ul > li {
    margin-left: 30px;
    cursor: pointer;
}
#nav-menu > ul > li > a {
    text-decoration: none;
    color: white;
}
#nav-menu > ul > li > a:hover {
    color: #3882F6;
}
/* --------------------------------- */
    /* styling for all sections */
.section-styling {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-top: 0px;
}
/*Styling for first section*/
.section-styling.main {
    gap: 100px;
    background-color: #1F2937;
    height: 420px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 245px;
    padding-right: 245px;
}
.section-styling.main > aside {
    height: 228px;
    width: 1500px;
    color: #F9FAF8;
}
.section-styling.main > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: #F9FAF8;
    height: 228px;
    width: 1300px;
}
.section-styling.main > aside > button {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 120px;
    margin-top: 10px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
.section-styling.main > aside > button:hover {
    background-color: white;
    color: #3882F6;
}
#main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
/*---------styles-for-second-section-----------------------------*/
.section-styling.second {
    display: flex;
    flex-direction: column;
    background-color:white;
    color: black;
    height: 400px;
}
.section-styling.second > h2 {
    font-size: 28px;
    margin-top: 10px;
}
#image-subtexts {
  
}
#image-subtexts {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 40px;
    height: 200px;
    width: 180px;
    margin-top: 40px;
}
#image-subtexts > figure > div:first-child {
    margin: 0 auto;
}
.random-info-img {
    height: 120px;
    width: 120px;
    border: 3.4px solid #3882F6;
    border-radius: 10px;
}

/*----Section-styling-for-quote-section-------------*/
.section-styling.third {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    padding-top: 100px;
    padding-left: 395px;
    padding-right: 395px;
    background-color: #E5E7EB;
    height: 390px;
}
.section-styling.third > blockquote > em {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}
#author {
    width: 100%;
    font-weight: bolder;
    text-align: end;
    padding-right: 10px;
}
/* -----------Third-section-styling-------------------- */
.section-styling.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
}
#main-sign-up {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    width: 70%;
    height: 100px;
    padding: 30px;
    padding-left: 140px;
    padding-right: 140px;
}
#main-sign-up > aside {
    padding-right: 90px;
    color: white;
}
#link {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #3882F6;
    border: 1px solid white;
    font-weight: bold;
    width: 100px;
    height: auto;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
#link > button {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: white;
    height: 100%;
    width: 100%;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
#link:hover button  {
    color: #3882F6;
    background-color: white;
}
.section-styling.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    height: 70px;
    background-color: #1F2937;
    text-align: center;
    color: white;
}